{% extends "base.html" %}

{% block content %}
  <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <div class="p-4 border">
      <div class="alert alert-danger text-center border w-100" role="alert" style="padding: 10px 15px; font-size: 1rem;">
        <p style="margin-bottom: 0;">Member already exists, please try again.</p>
      </div>
      <a href="{% url 'users:team_list' %}" class="btn btn-secondary w-100 mt-3">
        Back to Team List
      </a>
    </div>
  </div>
{% endblock %}
